http_addr: ":12345"
database_url: "postgres://"
servertap_url: "http://"
servertap_key: ""
servertap_auth_header: "key"
serverpath: "/srv/minecraft"
servers:
  - id: "s1"
    name: "Survival 1.21.1"
    game_version: "1.21.1"
    root_path: "/srv/mc-1.21.1"
    servertap_url: "http://127.0.0.1:4567"
    servertap_key: ""
    servertap_auth_header: "key"
    enabled: true
  - id: "s2"
    name: "Adventure 1.20.4"
    game_version: "1.20.4"
    root_path: "/srv/mc-1.20.4"
    servertap_url: "http://127.0.0.1:5567"
    servertap_key: ""
    servertap_auth_header: "key"
    enabled: false
