http_addr: ":8080"
database_url: "postgres://mcmm:mcmm@db:5432/mcmmdb?sslmode=disable"
lobby_servertap_url: "http://mcmm-lobby:4567"
proxy_bridge_url: "http://velocity:19132"
proxy_auth_header: "Authorization"
proxy_auth_token: "replace-with-real-token"
servertap_key: ""
servertap_auth_header: "key"
mini_servertap_port: 4567
mini_servertap_host_pattern: "http://mcmm-inst-%d:4567"
instance_network: "mcmm-network"
template_root_path: "deploy/template"
version_root_path: "deploy/version"
instance_root_path: "deploy/instance"
archive_root_path: "deploy/archived"
bootstrap_admin_name: "admin"
bootstrap_admin_uuid: "00000000-0000-4000-8000-000000000001"
serverpath: "/srv/minecraft"
servers:
  - id: "s1"
    name: "Survival 1.21.1"
    game_version: "1.21.1"
    root_path: "/srv/mc-1.21.1"
    servertap_url: "http://127.0.0.1:4567"
    servertap_key: ""
    servertap_auth_header: "key"
    enabled: true
  - id: "s2"
    name: "Adventure 1.20.4"
    game_version: "1.20.4"
    root_path: "/srv/mc-1.20.4"
    servertap_url: "http://127.0.0.1:5567"
    servertap_key: ""
    servertap_auth_header: "key"
    enabled: false
